@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "daisyui";
/* 必要ならテーマ設定も可能 */
/* お好み */
:root { color-scheme: light; }
body { background:#f9fafb; color:#111827; -webkit-font-smoothing:antialiased; }

